/*===  GOOGLE FONTS ===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/*===  VARIABLE CSS ===*/

:root {
    --header-heigth: 48px;
    --font-semi: 600;
}

/*===  COLORS ===*/
:root {
    --firts-color: #010101;
    --second-color: #ffffff;
}

/*===  TYPOGRAPHY FONT ===*/
:root {
    --body-font: 'Poppins', sans-sarif;
    --big-font-size: 32px;
    --h2-font-size: 20px;
    --normal-font-size: 16px;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 52px;
        --h2-font-size: 32px;
        --normal-font-size: 15.8px;
    }


}

/*=== MARGINS ===*/
:root {
    --mb-1: 8px;
    --mb-2: 16px;
    --mb-3: 24px;
    --mb-4: 32px;
    --mb-5: 40px;
    --mb-6: 48px;
}

/*===  Z INDEX ===*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*===  BASE ===*/

*,
::before,
::after {
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--header-heigth) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: #010101;
    background-color: rgb(255, 255, 255);

}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*===  CLASS CSS ===*/

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--firts-color);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 2.88px;
    left: 0;
    right: 0;
    margin: auto;
    top: 32px;
    background-color: var(--firts-color);
}

.section {
    padding-top: 64px;
    padding-bottom: 48px;
}


/* === LAYOUT ===*/

.bd-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 32px;
    width: calc(100% - 32px);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.firts-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #FFF;
    box-shadow: 0 1px 4px rgba(35, 35, 35, 0.15);
}

.firts-main {
    margin-top: var(--mb-6);
    width: 90%;
}

/* === NAV ===*/

.nav {
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    padding: 30px 0;
}


@media screen and (max-width:768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-heigth);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 32px;
        background-color: #FFF;
        transition: 1s;
        margin-bottom: var(--mb-5);
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #000000;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.88px;
    left: 0;
    top: 32px;
    background-color: var(--firts-color);
}

.nav__logo {
    color: #000000;
}

.nav__toggle {
    color: #000000;
    cursor: pointer;
    font-size: 24px;
}

/*== Active Menu ==*/

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.88px;
    left: 0;
    top: 32px;
    background-color: var(--firts-color);
}

.open {
    right: 0;
    transition: 1s;
}


/* === HOME ===*/

.home {
    height: calc(100% - 48px);
    row-gap: 16px;
    margin-bottom: 140px;
}

.home__data {
    align-items: flex-end;
    /* margin-bottom: var(--mb-5); */
}

.home__title {
    font-size: var(--big-font-size);
    margin-top: var(--mb-4);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: #004eeb;
}

.home__social {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin: var(--mb-2);
    font-size: 34px;
    color: var(--firts-color);
}

.home__social-icon:hover {
    color: #004eeb;
}

.home__img {
    right: 0;
    bottom: 0;
    width: 200px;
    transform: scaleX(-1);
}

.home__img img {
    border-radius: 180%;

}

.content__social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: #004eeb;
    color: #FFF;
    padding: 12px 40px;
    font-weight: var(--font-semi);
    border-radius: 8px;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.549)
}

/* === ABOUT ===*/


.about {
    margin-bottom: 50px;
}

.about__container {
    row-gap: 32px;
    text-align: center;
}


.about__subtitle {
    margin-bottom: var(--mb-2);

}

.about__img {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* .about__background {
    justify-content: center;
    background-color: #312f2f0c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
} */

.about__img img {
    width: 50%;

}

.about__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: var(--mb-5);
}

/* === SKILLS ===*/

.skills {
    position: relative;
    margin-bottom: 100px;
    margin-top: 130px;
}

.skills__container {
    row-gap: 32px;
    text-align: center;
}

.details-container {
    padding: 24px;
    flex: 1;
    border-radius: 32px;
    border: 1.6px solid rgb(0, 0, 0);
    text-align: center;
}

.experience-sub-title {
    font-weight: var(--font-semi);
    font-size: 28px;
    margin-bottom: var(--mb-4);
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

h3 {
    margin: 0;
}

.skills__social-icon {
    width: max-content;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
}

.skills__social-icon:hover {
    color: #004eeb;
}

.article-contianer {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
}

article {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}


/* === WORK ===*/

.work {
    text-align: center;
    position: relative;
}

.work__container {
    row-gap: 32px;
    margin-bottom: var(--mb-2);
    display: flex;
}

.color-container {
    border-color: rgb(3, 3, 3);

}

.project-title {
    margin: 16px;
    font-size: 100%;
}

.project-img {
    border-radius: 32px;
    width: 90%;
    height: 90%;
    transition: 1s;
}

.project-img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.project-btn {
    border-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 32px;
    background: transparent;
    color: #000000;
    cursor: pointer;
}

.btn a {
    color: #000000;
}

@media screen and (max-width:600px) {

    .work__container {
        flex-direction: column;
    }

}

/* === CONTACT ===*/
.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    align-items: center;

}

.contact p {
    color: #000000;
}

.contact__container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    border: 1.6px solid rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 32px auto;
    padding: 16px;
    flex-wrap: wrap;
}



.contact-info-cotainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    gap: 8px;
}

.contact-info-cotainer i {
    font-size: 30px;
}

.contact-info-cotainer p {
    text-decoration: none;

}

.contact-info-cotainer p a {
    color: #000000;
    font-weight: var(--font-semi);
    transition: 1s;
}

.contact-info-cotainer p a:hover {
    color: #00000079;
    transition: 0.7s;
}


/* === FOOTER ===*/

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.footer__title {
    position: relative;
    font-size: 30px;
    color: var(--firts-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.footer__links {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.ul__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ul__links li {
    margin: 12px;
}

.ul__links li a {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: var(--font-semi);
}

.ul__links li a:hover {
    color: #35353594;
}

.footer p {
    margin-top: var(--mb-4);
    margin-bottom: var(--mb-6);
    font-weight: 400;
}

/* ==== MEDIA QUERIES ===*/


@media screen and (min-width:768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 64px;
        padding-bottom: 48px;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 48px;
    }

    .nav {
        height: calc(--header-heigth) + 16px;
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--firts-color);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 40px;
        flex-direction: row;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }

    .about__img img {
        width: 200px;
    }

    .work {
        margin-top: 280px;
        margin-bottom: 100px;
    }

}